
//- h1.page-title(style='display: block;')= page.title

//- 来自上世纪八九十年代

h2 QQ 音乐
  meting-js(id="8751246849" server="tencent" type="playlist" mutex="true" preload="none" theme="var(--heo-main)" order="random")

h2 网易云音乐
  meting-js(id="7861823420" server="netease" type="playlist" mutex="true" preload="none" theme="var(--heo-main)" order="random")